<!doctype html>
<html class="no-js" lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ユーザー登録画面</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
  integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>

  <div class="container mt-5">
    <h2 class="mb-4 text-center">ユーザー登録画面</h2>

    <form method="post" action="/submit" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="name" class="form-label">ユーザーネーム</label>
        <input type="text" class="form-control" id="name" name="name" maxlength="100" placeholder="山田太郎" required>
        <div class="invalid-feedback">
          ユーザーネームを入力してください。
        </div>
      </div>

      <div class="mb-3">
        <label for="pass" class="form-label">パスワード</label>
        <input type="password" class="form-control" id="pass" name="password" maxlength="20" placeholder="半角英数8文字以上" required>
        <div class="invalid-feedback">
          パスワードを入力してください。
        </div>
      </div>

      <div class="mb-3">
        <label for="repass" class="form-label">パスワード再入力</label>
        <input type="password" class="form-control" id="repass" maxlength="20" placeholder="半角英数8文字以上" required>
        <div class="invalid-feedback">
          パスワードを再入力してください。
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary" id="touroku">会員登録を行う</button>
      </div>
    </form>

  </div>

  <!-- auth.jsを読み込む -->
  <script src="/static/auth.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+PmXtkKnv6M/49Bcf6w5FJp4O2BvM" crossorigin="anonymous"></script>

</body>

</html>
